ul {
  display: flex;
  list-style: none;
  gap: 10vw;
}
#container {
  width: 65vw;
  height: 90vh;
  padding-top: 10vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzD9EtUSWB27iOYakdHgTi-O5VxT3fXRyzGVJ6Kdsbt_gNu9nVbWsbsTDQDm1fI2eP24w&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 35vw;
}
#form {
  width: 30vw;
  height: 50vh;
  background-color: lightblue;
  color: aliceblue;
  text-align: center;
  backdrop-filter: blur(10px);
  padding-top: 20vh;
  box-shadow: 10px 10px 20px blue;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 1);
}
